<ion-header>
  <ion-toolbar>
    <ion-title>
      Buscar Pelicula
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar placeholder="Buscar..." animated debounce="700" [value]="textoBuscar"
    (ionChange)="buscar( $event.detail.value )"></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-list *ngIf="resultados.length === 0">
    <ion-item *ngFor="let recomendacion of recomendaciones" (click)="activeRecomendacion(recomendacion.title)">
      <ion-label class="ver-mas" color="primary">{{recomendacion.title}}</ion-label>
    </ion-item>
  </ion-list>

  <app-movie [peliculas]="resultados" *ngIf="resultados.length>0"></app-movie>

</ion-content>
